app = 'skin-care-addiction'
primary_region = 'sjc'

[build]

[http_service]
  internal_port = 3000
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0

[env]
  NODE_ENV = 'production'
  MCP_URL = 'https://skin-care-addiction.fly.dev'
